@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small helper for focus ring (optional) */
:root {
  --focus-ring: 3px;
}

/* optional simple visual tweaks */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
